* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin: 20px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 30px;
    background-color: #919191;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a.active {
    color: #ceff38;
}

header nav a + a {
    margin-left: 20px;
}

main {
    padding: 80px 20px 20px;
    min-height: 100vh;
}

main ul {
    margin-top: 20px;
    list-style: none;
}

main ul li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(209, 209, 209);
}

main ul li a {
    margin-right: 10px;
}
